<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        html, 
        body {
            height: 100%;
        }

        .container {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
        }

        h1 {
            width: 100%;
            font-size: 48px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <h1>Witaj</h1>
            <p>index.html</p>
        </div>
    </div>    
</body>
</html>